version: '3'

services:
  database:
    image: database:v1
    container_name: database
    command:
      - "--default-authentication-plugin=mysql_native_password"
    ports:
      - "3306:3306"
    networks:
      - app-network

  app1:
    image: tienda:v1
    container_name: tienda1
    ports:
      - "8000:80"
    links:
      - database
    networks:
      - app-network

  app2:
    image: tienda:v1
    container_name: tienda2
    ports:
      - "8001:80"
    links:
      - database
    networks:
      - app-network
  
  proxy:
    image: loadbalancer:v1
    container_name: loadb
    ports:
      - "80:80"

networks:
    app-network:
      driver: bridge