version: '3'

services:
  database:
    build: ./DB
    container_name: database
    command:
      - "--default-authentication-plugin=mysql_native_password"
    ports:
      - "3306:3306"
    networks:
      - app-network

  app1:
    build: ./App
    container_name: tienda1
    command:
      - /bin/bash
      - "cd / && sh init.sh"
    ports:
      - "8000:80"
    links:
      - database
    networks:
      - app-network

  app2:
    build: ./App
    container_name: tienda2
    command:
      - /bin/bash
      - "cd / && sh init.sh"
    ports:
      - "8001:80"
    links:
      - database
    networks:
      - app-network
  
  proxy:
    build: ./LoadBalancer
    container_name: loadb
    ports:
      - "80:80"
    links:
      - app1
      - app2
    networks:
      - app-network

networks:
    app-network:
      driver: bridge