global
    debug
defaults
    mode http
    timeout connect 10000ms
    timeout client 10000ms
    timeout server 10000ms

frontend http-in
    bind *:80
    default_backend app

backend app
    balance leastconn
    mode http
    server srv1 tienda1:80 check